body {
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 768px) {
  .card .img-wrap {
    border-bottom: 2px solid #c4d5e6;
  }
}
.anime-card .img-wrap {
  height: 250px;
  padding: 0.6rem;
  display: block;
  text-align: center;
}

.anime-card img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.checked {
  color: rgb(165, 126, 42);
}
.fa-star-half {
  color: rgb(165, 126, 42);
}

.title {
  text-decoration: none;
  color: #000000;
}
